/.idea/
/build/
/cmake-build-debug/
/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/cipher.txt
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/kcrypt
/cmake-build-debug/libciphramework.a
/cmake-build-debug/Makefile
/cmake-build-debug/plain.txt
/cmake-build-debug/Sources
/cmake-build-debug/Sources.cbp
/cmake-build-mem/
/cmake-build-release/
/cmake-build-verbose/
/src/sample_implementation/test/encrypted/
/src/sample_implementation/test/decrypted/
/src/sample_implementation/test/build/
/src/sample_implementation/test/.idea/
